USE [master]
GO
/****** Object:  Database [CopyPasteData]    Script Date: 25/04/2022 19:48:33 ******/
CREATE DATABASE [CopyPasteData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CopyPasteData', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQL\MSSQL\DATA\CopyPasteData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CopyPasteData_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQL\MSSQL\DATA\CopyPasteData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CopyPasteData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CopyPasteData]
GO
USE [CopyPasteData]
GO
/****** Object:  Table [dbo].[data]    Script Date: 25/04/2022 19:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[Id] [int] IDENTITY(10,1) NOT NULL,
	[pass] [varchar](10) NULL,
	[header] [varchar](20) NULL,
	[body] [varchar](150) NULL,
	[url] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
